:root {
    --main-color: #ffffff;
    --second-background-color: rgb(236, 236, 228);
    --text-color: #1a1918;
    --colourful: #494949;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: var(--main-color);
}

::-webkit-scrollbar-thumb {
    background: var(--text-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--colourful);
}

::selection {
    color: var(--main-color);
    background: var(--colourful);
}

body,
html {
    background: var(--main-color);
    font-size: 12px;
    color: var(--text-color);
    min-height: 200vh;
    width: 100%;
    scroll-behavior: smooth;
    position: relative;
    font-family: sans-serif;

    .button,
    a,
    .btn,
    i,
    svg {
        -webkit-tap-highlight-color: transparent;
        outline: none;
        text-decoration: none;
    }

    a:focus {
        outline: none;
    }

    img {
        user-select: none;
    }

    .no-scroll {
        overflow: hidden;
    }

    #grain-svg {
        display: none;
    }
}

header {
    width: 100vw;
    position: fixed;
    z-index: 4;
    font-size: 2rem;
    font-family: Avegaer;

    #brand {
        position: absolute;
        right: 20px;
        top: 20px;
        color: var(--text-color);
        cursor: pointer;
        user-select: none;
    }
}

main {
    .brand-screen {
        width: 100%;
        height: 100vh;
        display: flex;
        gap: 20px;
        padding: 20px;
        position: relative;
        overflow: hidden;

        .collection-cover-photo-container {
            position: relative;
            overflow: hidden;
            width: 50%;
            height: 100%;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                filter: url(#grainy);
                opacity: .3;
                z-index: 1;
            }

            .collection-cover-photo {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }

            .collection-cover-title {
                background: linear-gradient(0deg, rgba(0, 0, 0, .7) 0%, rgba(0, 0, 0, 0) 100%);
                position: absolute;
                bottom: 0px;
                width: 100%;
                left: 0px;
                padding: 20px;
                font-family: Avegaer;
                font-weight: 100;
                font-size: 2rem;
                z-index: 2;

                a {
                    color: var(--main-color);
                    text-decoration: underline;
                }
            }
        }

        .brand-container {
            position: relative;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .main-title {
                font-size: 11rem;
                font-family: Avegaer;
                line-height: 0.8em;
                position: absolute;
                top: 70px;
                padding-top: 25px;

                .second-word {
                    padding-left: 200px;
                }
            }

            .main-description {

                position: absolute;
                bottom: 0px;
            }

            #Capa_1 {
                position: absolute;
                right: -460px;
                height: 100%;
                top: 0;
                opacity: .1;
                user-select: none;
            }
        }
    }

    .collection-screen {
        height: 100vh;
        position: relative;
        padding: 20px;
        z-index: 1;
        overflow: hidden;

        img {
            z-index: 2;
        }

        .collection-details-container {
            padding: 20px;
            width: 45%;
            display: flex;
            flex-direction: column;
            position: absolute;
            bottom: 0px;
            left: 0;
            gap: 10px;
            z-index: 3;

            &.right {
                left: auto;
                right: 0;
                text-align: right;

                .collection-created {
                    flex-direction: row-reverse;
                }
            }

            .collection-title {
                font-family: Avegaer;
                font-size: 2rem;
                font-weight: bold;
            }

            .collection-created {
                font-size: .8rem;
                opacity: .8;
                display: flex;
                justify-content: space-between;
            }
        }

        .collection-main-title {
            font-size: 4vw;
            position: absolute;
            top: 50%;
            text-align: center;
            width: calc(100% - 40px);
            z-index: 3;
            font-family: Avegaer;
            white-space: nowrap;
            pointer-events: none;
            color: var(--text-color);

            &.white {
                color: var(--main-color);
            }
        }
    }

    #Élégance-Éternelle {
        z-index: 1;
        overflow: hidden;
        background: var(--second-background-color);

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background: inherit;
            filter: url(#grainy);
            opacity: .3;
            z-index: -1;
        }

        #ee1 {
            position: absolute;
            width: 300px;
            right: 56vw;
            top: 35px;
        }

        #ee2 {
            position: absolute;
            width: 350px;
            right: 69vw;
            top: 350px;
        }

        #ee3 {
            position: absolute;
            width: 260px;
            right: 26vw;
            top: 120px;
        }

        #ee4 {
            position: absolute;
            width: 310px;
            right: 29.3vw;
            bottom: 40px;
        }

        #ee5 {
            position: absolute;
            width: 240px;
            right: 6vw;
            bottom: 338px;
        }
    }

    #Luxe-Intemporel {
        display: flex;
        flex-direction: column;
        gap: 5px;

        #li-1 {
            display: flex;
            gap: 5px;
            height: 58%;

            img {
                width: calc(calc(100% - 10px) / 3);
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        #li-2 {
            display: flex;
            gap: 5px;
            height: 42%;
            width: 43%;

            img {
                width: 50%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }

    #Classique-Moderne {
        padding: 20px;

        .black-screen {
            background: var(--text-color);
            color: var(--main-color);
            width: 100%;
            height: 100%;

            #cm-1 {
                position: absolute;
                top: 40px;
                left: 40px;
                height: 65%;
                display: flex;
                gap: 5px;

                #cm1 {
                    height: 90%;
                }

                #cm2 {
                    height: 60%;
                }
            }

            #cm-2 {
                position: absolute;
                bottom: 40px;
                right: 40px;
                height: 100%;
                width: 30%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-end;
                gap: 5px;

                #cm3 {
                    height: 30%;
                }

                #cm4 {
                    height: 50%;
                }

            }

            .collection-details-container {
                left: 20px;
                bottom: 20px;
            }

        }
    }

    #Énergie-Sportive {
        display: flex;

        #es-1 {
            width: 45%;
            height: 100%;
            display: flex;
            gap: 5px;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            #es-s-1 {
                height: 55%;

                img {
                    height: 100%;
                }
            }

            #es-s-2 {
                height: 45%;
                display: flex;
                gap: 5px;

                #es2 {
                    height: 100%;
                }

                #es3 {
                    height: 80%;
                }
            }
        }

        #es-2 {
            width: 55%;
            height: 65%;
            display: flex;
            gap: 5px;
            align-items: flex-start;
            justify-content: flex-end;

            #es4 {
                height: 60%;
            }

            #es5 {
                height: 100%;
            }
        }
    }

    #Chic-d-Hiver {
        display: flex;
        gap: 5px;

        #ch-1 {
            width: 37%;

            img {
                width: 100%;
            }
        }

        #ch-2 {
            display: flex;
            flex-direction: column;
            gap: 5px;
            width: 20%;

            img {
                width: 100%;
            }
        }

        #ch-3 {
            display: flex;
            flex-direction: column;
            gap: 5px;
            width: 23%;

            img {
                width: 100%;
            }
        }

        #ch-4 {
            height: 100%;

            img {
                height: 100%;
            }
        }
    }

    .collection {
        cursor: zoom-in;
    }
}

footer {
    height: 60vh;
    padding: 20px;
    overflow: hidden;

    #footer-container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        background: var(--text-color);
        color: var(--main-color);
        padding: 20px;
        gap: 5px;

        #f1 {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;

            #footer-brand {
                font-size: 7rem;
                font-family: Avegaer;
                font-weight: 100;
                line-height: 6rem;
            }

            #footer-navigation {
                display: flex;
                flex-direction: column;
                gap: 5px;

                a {
                    color: var(--main-color);
                    line-height: 1.8rem;
                    font-size: 2rem;
                    font-family: Avegaer;
                    font-weight: 100;
                    text-decoration: underline;
                }
            }

            #social-media-icons {
                display: flex;
                gap: 10px;
                width: 150px;

                svg {
                    cursor: pointer;
                }
            }

            #footer-bottom {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
            }

            #copy-right {
                font-size: .8rem;
            }

            #top-button {
                width: 50px;
                height: 50px;
                padding: 5px;
                background: var(--main-color);
                cursor: pointer;
            }
        }

        #f2 {
            display: flex;
            align-items: flex-end;
            gap: 5px;

            #footer-image {
                height: 100%;
            }
        }
    }
}

#graing-svg {
    display: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 8;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    cursor: zoom-out;

    align-items: center;
    justify-content: center;

    .modal-content {
        margin: auto;
        display: block;
        max-width: 80%;
        max-height: 90%;
        cursor: default;
    }

    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: var(--text-color);
        background: var(--main-color);
        padding: 0px 10px;
        font-size: 40px;
        font-weight: bold;
        cursor: pointer;

        &:hover {
            color: #cc0000;
        }
    }

    .nav-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: var(--text-color);
        background: var(--main-color);
        font-size: 30px;
        cursor: pointer;
        border: none;
        padding: 10px;
        z-index: 6;
    }

    .prev {
        left: 10px;
    }

    .next {
        right: 10px;
    }
}

#loading-screen {
    background: var(--main-color);
    width: 100%;
    height: 100%;
    user-select: none;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    font-family: Avegaer;
    display: flex;
    align-items: center;
    justify-content: center;

    #percentage {
        position: absolute;
        line-height: 8rem;
        bottom: 20px;
        left: 20px;
        font-size: 12rem;
    }
}

@font-face {
    font-family: Avegaer;
    src: url("../fonts/Avegaer.ttf") format('truetype');
}

@media screen and (max-width: 1472px) {
    .main-title {
        right: 3vw;
        mix-blend-mode: difference;
        filter: invert(1);
    }
}

@media screen and (max-width: 1220px) {
    #Élégance-Éternelle {
        #ee1 {
            width: 31vh !important;
            right: 58vw !important;
        }

        #ee2 {
            width: 36vh !important;
            left: 2vw;
        }

        #ee3 {
            width: 27vh !important;
            right: 28vw !important;
        }

        #ee4 {
            width: 32vh !important;
            right: 20vw !important;
        }

        #ee5 {
            width: 24vh !important;
            right: 1vw !important;
        }
    }
}

@media screen and (max-width: 850px) {
    .brand-screen {
        flex-direction: column;

        .collection-cover-photo-container,
        .brand-container {
            width: 100% !important;
            height: 50% !important;
        }

        .main-title {
            text-align: center;
            font-size: 15vw !important;
            width: 100%;
            display: flex;
            position: relative !important;
            right: auto !important;
            padding-top: 0 !important;
            top: auto !important;
            flex-direction: column;
            height: 80%;
            justify-content: center;
            gap: 0px;

            .first-word {
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }

            .second-word {
                padding-left: 0 !important;
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }
        }

        .main-title br {
            display: none;
        }
    }

    #Élégance-Éternelle {
        #ee1 {
            width: 33vw !important;
        }

        #ee2 {
            width: 38vw !important;
        }

        #ee3 {
            width: 28vw !important;
        }
        #ee4{
            width: 34vw !important;
        }
        #ee5{
            width: 25vw !important;
        }
    }
}