:root {
    --main-color: #800000;
    --second-color: #ff3366;
    --text-color: #cdcdcd;
    --second-text-color: #111111;
}

::-webkit-scrollbar-track {
    background: var(--main-color);
}

::-webkit-scrollbar-thumb {
    background: var(--text-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--colourful);
}

::-moz-selection {
    color: var(--main-color);
    background: var(--text-color);
}

::selection {
    color: var(--main-color);
    background: var(--text-color);
}

.hearts {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;

    .heart {
        position: absolute;
        animation: float 6s infinite;
        opacity: 1;
        font-size: 24px;
    }
}

#counter-page {
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-height: 100dvh;
    color: var(--text-color);

    #music-button {
        position: absolute;
        top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        background: var(--text-color);
        color: var(--main-color);
        border-radius: .6rem;
        box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        user-select: none;
        font-size: 1.5rem;
        padding: 10px 30px;
    }

    .countdown-container {
        text-align: center;
        position: relative;
        z-index: 1;

        .countdown {
            padding: 20px;
            display: flex;
            gap: 25px;
            margin-top: 20px;

            .time-block {
                background: rgba(255, 255, 255, 0.15);
                padding: 30px 50px;
                border-radius: 15px;
                min-width: 140px;
                box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
                backdrop-filter: blur(8px);
                border: 1px solid rgba(255, 255, 255, 0.2);
                animation: pulse 2s infinite;

                .number {
                    font-size: 5rem;
                    font-weight: bold;
                    margin-bottom: 10px;
                    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
                }

                .label {
                    font-size: 1.5rem;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    opacity: 0.9;
                }
            }
        }
    }

    #word-container {
        font-size: 4rem;
        text-align: center;
        font-weight: bold;
        opacity: 0;
        transition: opacity 1s ease-in-out;

        position: absolute;
        bottom: 20px;
        display: flex;
        align-items: center;
        font-weight: lighter;
        justify-content: center;
        font-family: Waterfall;
        z-index: 1;
    }
}

#home-screen{
    display: none;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.03);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes float {
    0% {
        transform: translateY(-100dvh);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translateY(100dvh);
        opacity: 0;
    }
}

@media (max-width: 990px) {
    #counter-page {
        .countdown-container {
            .countdown {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}

@media (max-width: 560px) {
    #counter-page {
        .countdown-container {
            .countdown {
                gap: 4vw;

                .time-block {
                    padding: 8vw;
                    min-width: auto;

                    .number {
                        font-size: 16vw;
                    }

                    .label {
                        font-size: 4vw;
                    }
                }
            }
        }

        .heart {
            font-size: 1.1rem;
        }

        #music-button {
            font-size: 1rem;
            padding: 10px 30px;
        }
    }
}

@media (max-width: 470px) {
    #word-container {
        font-size: 2.5rem;
    }
}

@font-face {
    font-family: Waterfall;
    src: url("../fonts/Waterfall.ttf");
}

@font-face {
    font-family: 'Quagera';
    src: url('../fonts/Quagera-Regular.woff2') format('woff2'),
        url('../fonts/Quagera-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NewYork';
    src: url('../fonts/newyork.otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--main-color);
    cursor: url(../images/whitecursor.webp), auto !important;
    user-select: none;
    transition: 0.3s;
    overflow-x: hidden;
}

body.dark {
    --main-color: #111111;
    --second-color: #af1c1c;
    --text-color: #dadada;
    --second-text-color: #af1c1c;
    background: var(--main-color);
}

#home-page {
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    #title {
        background: url(../images/bg.jpg) 50% 50%;
        background-size: cover;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        font-size: 10vw;
        font-family: 'Quagera', sans-serif;
        text-align: center;
    }

    .music-container {
        position: absolute;
        left: 0px;
        padding: 10px;
        z-index: 88;
        bottom: 10px;

        .music-bar {
            position: relative;
            display: flex;
            align-items: center;
            font-family: 'roboto', sans-serif;
            color: var(--text-color);
            font-size: 18px;
            font-weight: 200;
            cursor: pointer;

            &:hover {
                color: var(--second-text-color);
            }

            .music-button {
                font-size: 36px;
                padding-right: 10px;
            }

            P {
                font-family: 'NewYork';
                position: relative;
                top: 2px;
            }
        }
    }

    .down-button-container {
        position: absolute;
        bottom: 20px;
        left: calc(50% - 25px);
        cursor: pointer;

        .profile-down-button {
            position: relative;
            width: 50px;
            height: 50px;

            justify-content: center;
            display: flex;
            align-items: center;

            animation: downbutton linear .8s infinite alternate;
            cursor: pointer;

            &:hover .down-button-l,
            &:hover .down-button-r {
                background: var(--second-text-color);
            }

            @keyframes downbutton {
                0% {
                    top: -15px;
                }

                100% {
                    top: 15px;
                }
            }

            .down-button-l {
                height: 1px;
                width: 30px;
                left: 4px;
                position: relative;
                background: var(--text-color);
                transform: rotate(50deg);
            }

            .down-button-r {
                height: 1px;
                width: 30px;
                left: -5px;
                position: relative;
                background: var(--text-color);
                transform: rotate(-50deg);
            }
        }
    }
}

.heart-container {
    position: absolute;
    right: 0px;
    cursor: pointer;
    padding: 10px;
    z-index: 88;
    bottom: 10px;
    color: var(--text-color);

    &:hover {
        color: var(--second-text-color);
    }

    span {
        font-size: 36px;
    }
}

#gallery-page {
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    .gallery-container {
        .image-gallery {
            max-width: 1330px;
            columns: 4;
            column-gap: 10px;
        }

        .image-gallery > li {
            list-style: none;
            position: relative;
            margin-bottom: 10px;
            break-inside: avoid;
            filter: grayscale(100%);
            transition: .3s;
            box-shadow: -5px 8px 6px 1px rgba(0, 0, 0, 0.55);
            &:hover {
                filter: grayscale(0%);
            }

            .reverse{
                transform: rotate(180deg);
            }
        }

        .image-gallery li img {
            object-fit: cover;
            vertical-align: middle;
            width: 100%;
            height: 100%;
        }
        video::-webkit-media-controls {
            display: none !important;
        }
    
        video::-webkit-media-controls-enclosure {
            display: none !important;
        }
    
        video::-webkit-media-slider {
            display: none !important;
        }
        .image-gallery li video {
            object-fit: cover;
            vertical-align: middle;
            width: 100%;
            height: 100%;
        }
    }

}

#socialmedias-page {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;
    align-items: center;

    min-height: 100dvh;
    gap: 50px;
    padding: 50px 10px;

    .for-us{
        font-family: 'NewYork';
        color: var(--text-color);
        font-size: 40px;
        position: relative;
    }

    .container {
        .embed {
            margin: auto;
            box-shadow: -5px 8px 6px 1px rgba(0, 0, 0, 0.55);

            .instagram-media {
                position: relative;
                margin: auto;
                min-width: 400px;
                filter: grayscale(100%);
                transition: .3s;

                &:hover {
                    filter: grayscale(0%);
                }
            }
        }
    }
}

#copyright-page {
    height: 50px;
    width: 100%;
    position: relative;
    border-top: 1px solid var(--text-color);

    display: flex;
    align-items: center;
    justify-items: center;

    h4 {
        margin: auto;
        font-family: 'Rajdhani', sans-serif;
        font-weight: 100;
        color: var(--text-color);
    }
}

#fullpage {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.9);

    #fullpage_img_container {
        justify-content: center;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100dvh;

        #fullpage_img {
            height: 90vh;
            width: 80%;
            background-size: contain;
            background-repeat: no-repeat no-repeat;
            background-position: center center;
            display: none;
        }
        video{
            height: 90vh;
            width: 80vw;
            display: none;
        }
    }
}

.loader-container {
    height: 100dvh;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 5555;
    background: var(--main-color);

    justify-content: center;
    display: flex;
    align-items: center;

    .loader {
        width: 20px;
        height: 2px;
        background: var(--text-color);
        animation: loader ease-in-out 1s infinite;
        position: relative;
    }

    @keyframes loader {
        0% {
            left: -60%;
        }

        25% {
            left: -30%;
            width: 25%;
        }

        50% {
            left: 0;
            width: 50%;
        }

        75% {
            left: 60%;
            width: 25%;
        }

        100% {
            left: 120%;
            width: 20px;
        }
    }
}

@font-face {
    font-family: 'Quagera';
    src: url('../fonts/Quagera-Regular.woff2') format('woff2'),
        url('../fonts/Quagera-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NewYork';
    src: url('../fonts/newyork.otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@media only screen and (max-width:1000px) {
    .music-bar {
        .music-button {
            padding-right: 0 !important;
        }

        p {
            display: none;
        }
    }
    .gallery-container {
        .image-gallery {
            columns: 3!important;
        }
    }
}

@media only screen and (max-width:700px) {
    .gallery-container {
        .image-gallery {
            columns: 2!important;
        }
    }
}

@media only screen and (max-width:670px) {
    .container {
        p {
            font-size: 30px !important;
        }
    }
}

@media only screen and (max-width:426px) {
    #fullpage_img {
        width: 95% !important;
    }

    #socialmedias-page {
        .instagram-media {
            width: 98vw !important;
            min-width: auto !important;
        }
    }

    .container {
        p {
            font-size: 25px !important;
        }
    }
}

@media only screen and (max-width:340px) {
    #title {
        font-size: 8vw !important;
    }

    #socialmedias-page {
        h1 {
            font-size: 50px !important;
        }
    }

    .container {
        p {
            font-size: 20px !important;
        }
    }
}