:root {
  --colourful: rgb(0, 233, 97);
}

.top-text {
  background: linear-gradient(90deg, rgb(50, 224, 255) 0%, rgb(0, 233, 97) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: -1px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 0 10px;
}

.instagram-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: relative;
  top: 150px;
  z-index: 5;
}
.instagram-content ::-moz-selection {
  color: var(--text-color);
  background: var(--main-color);
}
.instagram-content ::selection {
  color: var(--text-color);
  background: var(--main-color);
}
.instagram-content .instagram-container {
  width: 1100px;
  display: flex;
  gap: 5px;
}
.instagram-content .instagram-container .instagram-card {
  position: relative;
  width: 100%;
  min-height: 400px;
  min-height: 617px;
  background: #fff;
  color: #000;
  border-radius: 4px;
  padding: 16px;
  font-family: sans-serif;
}
.instagram-content .instagram-container .instagram-card .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.instagram-content .instagram-container .instagram-card .top .user-details {
  display: flex;
  align-items: center;
}
.instagram-content .instagram-container .instagram-card .top .user-details .profile-img {
  position: relative;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 8px;
}
.instagram-content .instagram-container .instagram-card .top .user-details .profile-img .cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.instagram-content .instagram-container .instagram-card .top .user-details h3 {
  font-size: 14px;
  font-weight: 600;
  line-height: 1em;
}
.instagram-content .instagram-container .instagram-card .top .user-details h3 span {
  font-size: 0.85em;
  top: 3px;
  position: relative;
  font-weight: 300;
}
.instagram-content .instagram-container .instagram-card .top .dot {
  cursor: pointer;
}
.instagram-content .instagram-container .instagram-card .image-container {
  position: relative;
  width: 100%;
  margin: 15px 0px 15px;
  height: 360px;
  overflow: hidden;
}
.instagram-content .instagram-container .instagram-card .image-container .first-image {
  bottom: 65px;
}
.instagram-content .instagram-container .instagram-card .image-container .second-image {
  bottom: 70px;
}
.instagram-content .instagram-container .instagram-card .image-container .third-image {
  bottom: 110px;
}
.instagram-content .instagram-container .instagram-card .image-container img {
  width: 100%;
  position: relative;
}
.instagram-content .instagram-container .instagram-card .action-buttons {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.instagram-content .instagram-container .instagram-card .action-buttons .action-button {
  cursor: pointer;
  margin-right: 8px;
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  height: 24px;
  width: 24px;
}
.instagram-content .instagram-container .instagram-card .action-buttons .like {
  background-image: url("../images/hwgTSgiJXcc.png");
  background-position: 0 -87px;
}
.instagram-content .instagram-container .instagram-card .action-buttons .like:hover {
  background-position: 0 -112px;
}
.instagram-content .instagram-container .instagram-card .action-buttons .comment {
  background-image: url("../images/hwgTSgiJXcc.png");
  background-position: 0 -37px;
}
.instagram-content .instagram-container .instagram-card .action-buttons .comment:hover {
  opacity: 0.6;
}
.instagram-content .instagram-container .instagram-card .action-buttons .share {
  background-image: url("../images/hwgTSgiJXcc.png");
  background-position: 0 -162px;
}
.instagram-content .instagram-container .instagram-card .action-buttons .save {
  background-image: url("../images/hwgTSgiJXcc.png");
  background-position: 0 -137px;
  margin-right: 0px;
}
.instagram-content .instagram-container .instagram-card .action-buttons .save:hover {
  opacity: 0.6;
}
.instagram-content .instagram-container .instagram-card .likes {
  margin-top: 12px;
  font-size: 14px;
}
.instagram-content .instagram-container .instagram-card .message {
  margin-top: 12px;
  font-weight: 100;
  font-size: 13px;
}
.instagram-content .instagram-container .instagram-card .hashtags {
  font-weight: 100;
  font-size: 13px;
  margin-top: 12px;
  color: rgb(0, 55, 107);
}
.instagram-content .instagram-container .instagram-card .hashtags span {
  cursor: pointer;
}
.instagram-content .instagram-container .instagram-card .hashtags span:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1090px) {
  .image-container {
    height: auto !important;
    overflow: auto !important;
  }
  .image-container img {
    position: static !important;
  }
}
@media screen and (max-width: 850px) {
  .instagram-content {
    padding: 20px 0 !important;
  }
  .instagram-content .instagram-container .instagram-card {
    min-height: auto !important;
  }
}
@media screen and (max-width: 650px) {
  .instagram-content {
    padding: 20px 0 !important;
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
  }
  .instagram-content::-webkit-scrollbar {
    height: 4px;
    display: block;
  }
  .instagram-content::-webkit-scrollbar-track {
    background: var(--main-color);
  }
  .instagram-content::-webkit-scrollbar-thumb {
    background: var(--text-color);
  }
  .instagram-content::-webkit-scrollbar-thumb:hover {
    background: var(--colourful);
  }
  .instagram-content .instagram-container {
    align-items: flex-start;
    width: 840px;
  }
  .instagram-content .instagram-container .instagram-card {
    width: 280px !important;
    padding: 10px !important;
  }
  .instagram-content .instagram-container .instagram-card .top h3 {
    font-size: 2.6vw !important;
  }
  .instagram-content .instagram-container .instagram-card .action-button {
    transform: scale(0.8);
    margin-right: 0px !important;
  }
  .instagram-content .instagram-container .instagram-card .likes,
  .instagram-content .instagram-container .instagram-card .message,
  .instagram-content .instagram-container .instagram-card .hashtags {
    font-size: 2.6vw !important;
  }
}
@media screen and (max-width: 300px) {
  .instagram-content .instagram-container {
    width: 240vw;
  }
  .instagram-content .instagram-container .instagram-card {
    width: 80vw !important;
  }
}/*# sourceMappingURL=instagram.css.map */